<h1>Editing Pic</h1>

<%= render 'form', pic: @pic, experiment: @experiment, camera: @camera %>

<%= link_to 'Show', experiment_camera_pic_path(@experiment, @camera, @pic) %> |
<%= link_to 'Back', experiment_camera_path(@experiment, @camera) %>
